In [2]:
import pandas as pd
import requests
from io import BytesIO #permet de stocker en mémoire
from zipfile import ZipFile

In [3]:
url="https://www.insee.fr/fr/statistiques/fichier/5393560/fd_eec20_csv.zip" #enquête 2020 en exemple

In [4]:
# Télécharge le fichier ZIP
requete = requests.get(url)
zip_df = ZipFile(BytesIO(requete.content)) #créer un fichier ZIP

# Extraire le fichier CSV du ZIP
with zip_df.open(zip_df.namelist()[0]) as extrait:
    EEC = pd.read_csv(extrait, delimiter=";") # Lire le fichier CSV avec pandas

#test
EEC.head(10)

,ANNEE,TRIM,CATAU2010R,METRODOM,TYPMEN7,AGE3,AGE5,COURED,ENFRED,NFRRED,...,DIP11,CSTOTPRM,IDENTM,EXTRIAN,EMPNBH,HREC,HHCE,HPLUSA,JOURTR,NBTOTE
0,2020,4,1,1,1,50,60,2,2,1.0,...,70.0,78.0,1,339.384822,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,1,1,1,3,50,60,1,2,1.0,...,50.0,64.0,2,68.698748,0.0,NaN,1.0,NaN,1.0,NaN
2,2020,1,1,1,3,50,60,1,2,1.0,...,70.0,64.0,2,68.698748,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,2,1,1,3,50,60,1,2,1.0,...,50.0,64.0,3,66.700330,2.0,NaN,1.0,NaN,1.0,NaN
4,2020,2,1,1,3,50,60,1,2,1.0,...,70.0,64.0,3,66.700330,NaN,NaN,NaN,NaN,NaN,NaN
5,2020,3,1,1,3,50,60,1,2,1.0,...,50.0,64.0,4,83.672830,NaN,NaN,1.0,NaN,1.0,NaN
6,2020,3,1,1,3,50,60,1,2,1.0,...,70.0,64.0,4,83.672830,NaN,NaN,NaN,NaN,NaN,NaN
7,2020,1,1,1,4,30,40,1,1,1.0,...,50.0,43.0,5,57.695397,38.0,NaN,35.0,40.0,5.0,NaN
8,2020,1,1,1,4,30,40,1,1,1.0,...,33.0,43.0,5,57.695397,30.0,NaN,37.5,NaN,5.0,NaN
9,2020,2,1,1,4,30,40,1,1,1.0,...,50.0,43.0,6,64.625028,38.0,NaN,35.0,40.0,5.0,NaN

In [5]:
EEC.tail(10)

,ANNEE,TRIM,CATAU2010R,METRODOM,TYPMEN7,AGE3,AGE5,COURED,ENFRED,NFRRED,...,DIP11,CSTOTPRM,IDENTM,EXTRIAN,EMPNBH,HREC,HHCE,HPLUSA,JOURTR,NBTOTE
319388,2020,1,1,2,4,50,60,1,1,1.0,...,71.0,63.0,176402,24.273977,32.0,NaN,10.0,35.0,5.0,NaN
319389,2020,1,1,2,4,30,40,1,1,1.0,...,10.0,63.0,176402,24.273977,NaN,NaN,NaN,NaN,NaN,NaN
319390,2020,1,1,2,4,15,15,2,2,1.0,...,71.0,63.0,176402,24.273977,NaN,NaN,NaN,NaN,NaN,NaN
319391,2020,2,1,2,4,50,60,1,1,1.0,...,71.0,63.0,176403,13.345554,0.0,NaN,10.0,35.0,5.0,NaN
319392,2020,2,1,2,4,30,40,1,1,1.0,...,10.0,63.0,176403,13.345554,NaN,NaN,NaN,NaN,NaN,NaN
319393,2020,2,1,2,4,15,15,2,2,1.0,...,71.0,63.0,176403,13.345554,NaN,NaN,NaN,NaN,NaN,NaN
319394,2020,1,1,2,4,30,30,1,1,1.0,...,50.0,64.0,176404,23.990505,43.0,NaN,43.0,NaN,5.0,NaN
319395,2020,1,1,2,4,30,30,1,1,3.0,...,71.0,64.0,176404,23.990505,NaN,NaN,NaN,NaN,NaN,NaN
319396,2020,1,1,2,1,50,50,2,2,1.0,...,10.0,42.0,176405,23.413470,0.0,NaN,35.0,NaN,4.0,41.0
319397,2020,1,1,2,2,30,30,2,1,3.0,...,71.0,85.0,176406,11.452612,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
list(EEC.columns)

['ANNEE',
 'TRIM',
 'CATAU2010R',
 'METRODOM',
 'TYPMEN7',
 'AGE3',
 'AGE5',
 'COURED',
 'ENFRED',
 'NFRRED',
 'SEXE',
 'ACTEU',
 'ACTEU6',
 'ACTIF',
 'ACTOP',
 'AIDFAM',
 'ANCCHOM',
 'ANCINACT',
 'CONTACT',
 'CREACCP',
 'DEM',
 'DISPOC',
 'GARDEB',
 'HALOR',
 'INSCONT',
 'MRA',
 'MRB',
 'MRBBIS',
 'MRC',
 'MRD',
 'MRDBIS',
 'MRE',
 'MREC',
 'MRF',
 'MRG',
 'MRGBIS',
 'MRH',
 'MRI',
 'MRJ',
 'MRK',
 'MRL',
 'MRM',
 'MRN',
 'MRO',
 'MRPASSA',
 'MRPASSB',
 'MRPASSC',
 'MRS',
 'NONDIC',
 'NREC',
 'NRECA',
 'NRECB',
 'OCCREF',
 'OFFICC',
 'OFFRE',
 'PASTRA',
 'PASTRB',
 'PASTRF',
 'PERCREV',
 'RABS',
 'RAISNREC',
 'RAISNSOU',
 'RAISPAS',
 'SOU',
 'SOUA',
 'SOUB',
 'SOUC',
 'SOUSEMPL',
 'STCHE',
 'TEMP',
 'TRAREF',
 'TYPCONT',
 'TYPCONTB',
 'CHPUB',
 'CSE',
 'CSER',
 'CSP',
 'CSTOT',
 'CSTOTR',
 'FONCTC',
 'NAFG004UN',
 'NAFG010UN',
 'NAFG017UN',
 'NAFG021UN',
 'NAFG038UN',
 'NAFG088UN',
 'PUB3FP',
 'QPRC',
 'STC',
 'RDET',
 'STAT2',
 'STATOEP',
 'STATUT',
 'STATUTR',
 'TITC',
 'CSTMN',
 'CSTPLC',
 'DISPPLC',
 'DUHAB',
 'GARDEA',
 'HHC6',
 'HORAIC',
 'RAISON',
 'RAISTP',
 'STMN',
 'STPLC',
 'TPPRED',
 'TXTPPRED',
 'ANCENTR4',
 'SITANT',
 'AAC',
 'CSA',
 'NAFANT',
 'NAFANTG004N',
 'DIP11',
 'CSTOTPRM',
 'IDENTM',
 'EXTRIAN',
 'EMPNBH',
 'HREC',
 'HHCE',
 'HPLUSA',
 'JOURTR',
 'NBTOTE']

In [8]:
len(list(EEC.columns))

124