In [5]:
import pandas as pd
import requests
from io import BytesIO #permet de stocker en mémoire
from zipfile import ZipFile

In [8]:
url="https://www.insee.fr/fr/statistiques/fichier/5393560/fd_eec20_csv.zip" #enquête 2020 en exemple

In [13]:
# Télécharge le fichier ZIP
requete = requests.get(url)
zip_df = ZipFile(BytesIO(requete.content)) #créer un fichier ZIP

# Extraire le fichier CSV du ZIP
with zip_df.open(zip_df.namelist()[0]) as extrait:
    EEC = pd.read_csv(extrait, delimiter=";") # Lire le fichier CSV avec pandas

#test
EEC.head(10)

,ANNEE,TRIM,CATAU2010R,METRODOM,TYPMEN7,AGE3,AGE5,COURED,ENFRED,NFRRED,...,DIP11,CSTOTPRM,IDENTM,EXTRIAN,EMPNBH,HREC,HHCE,HPLUSA,JOURTR,NBTOTE
0,2020,4,1,1,1,50,60,2,2,1.0,...,70.0,78.0,1,339.384822,NaN,NaN,NaN,NaN,NaN,NaN
1,2020,1,1,1,3,50,60,1,2,1.0,...,50.0,64.0,2,68.698748,0.0,NaN,1.0,NaN,1.0,NaN
2,2020,1,1,1,3,50,60,1,2,1.0,...,70.0,64.0,2,68.698748,NaN,NaN,NaN,NaN,NaN,NaN
3,2020,2,1,1,3,50,60,1,2,1.0,...,50.0,64.0,3,66.700330,2.0,NaN,1.0,NaN,1.0,NaN
4,2020,2,1,1,3,50,60,1,2,1.0,...,70.0,64.0,3,66.700330,NaN,NaN,NaN,NaN,NaN,NaN
5,2020,3,1,1,3,50,60,1,2,1.0,...,50.0,64.0,4,83.672830,NaN,NaN,1.0,NaN,1.0,NaN
6,2020,3,1,1,3,50,60,1,2,1.0,...,70.0,64.0,4,83.672830,NaN,NaN,NaN,NaN,NaN,NaN
7,2020,1,1,1,4,30,40,1,1,1.0,...,50.0,43.0,5,57.695397,38.0,NaN,35.0,40.0,5.0,NaN
8,2020,1,1,1,4,30,40,1,1,1.0,...,33.0,43.0,5,57.695397,30.0,NaN,37.5,NaN,5.0,NaN
9,2020,2,1,1,4,30,40,1,1,1.0,...,50.0,43.0,6,64.625028,38.0,NaN,35.0,40.0,5.0,NaN